<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Bem vindo ao Smart Contábil</h1>
        <p class="lead">Isso é só um teste.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
</div>

<div class="container-fluid">
  <div class="card rounded shadow-lg" >
    <div class="input-group row">
      <div class="col mt-1">
        <h5 class="align-middle text-muted"><fa-icon [icon]="faEnvelopeOpenText" size="lg"></fa-icon>&nbsp;&nbsp; EMPRESAS</h5>
      </div>

    </div>
  </div>
</div>
