
<dev-empresa-form #empresaForm></dev-empresa-form>

<div class="container-fluid col-10">
  <div class="card rounded shadow-lg" >

    <div class="card-header">

      <div class="input-group row">
        <div class="col mt-1">
          <h5 class="align-middle text-muted"><fa-icon [icon]="faEnvelopeOpenText" size="lg" data-toggle="modal" data-target="#empresaFormModal"></fa-icon>&nbsp;&nbsp; EMPRESAS</h5>
        </div>
        <div class="col-5">
          <div class="input-group">
              <input class="form-control border-secondary py-2" type="search"placeholder="pesquisar..." autofocus="true">
              <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button">
                    <fa-icon [icon]="faSearch" size="sm"></fa-icon>
                  </button>
              </div>

          </div>

      </div>


      </div>

    </div>
      <div class="table">

        <table class="table table-hover table-sm">

          <thead>
            <tr>
              <th scope="col">#ID</th>
              <th scope="col">FANTASIA</th>
              <th scope="col">CNPJ</th>
              <th scope="col">TEL&nbsp;</th>
              <th scope="col">CONTATO</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let e of empresas">
              <th scope="row"><span><b>#{{e.id}}</b></span></th>
              <td (click)="empresaForm.loadViewEmpresa(e)" data-toggle="modal" data-target="#empresaFormModal"><i>{{e.fantasia}}</i></td>
              <td>{{e.cnpj}}</td>
              <td>{{e.tel}}</td>
              <td>{{e.contato}}</td>
              <td><fa-icon (click)="empresaForm.loadEditEmpresa(e)" data-toggle="modal" data-target="#empresaFormModal" [icon]="faEdit" size="sm"></fa-icon></td>
            </tr>

          </tbody>

        </table>

      </div>

  </div>
</div>
