<header class="fixed-top shadow-sm">
  <nav class="navbar navbar-light bg-white">
      <a class="navbar-brand mr-auto"><i (click)="menu.toggle()" class="fa fa-bars mr-2"></i>SMART CONTÁBIL</a>

      <hr/>
      <dev-menu #menu>

        <div class="list-group">
          <a class="list-group-item list-group-item-action" [routerLink]="['']" >Dashboard</a>
          <a class="list-group-item list-group-item-action" [routerLink]="['empresas']" >Cadastro de Empresas</a>
          <a class="list-group-item list-group-item-action">Cadastro de Certificados</a>
          <a class="list-group-item list-group-item-action">Dados do Escritório</a>
          <a class="list-group-item list-group-item-action">Status do Serviço</a>
        </div>
      </dev-menu>
      <div>
        <fa-icon [icon]="user" size="2x" data-toggle="modal" data-target="#userInfoModal" class="align-middle text-muted"></fa-icon>
        <span class="ml-2 font-weight-light">{{userInfo?.name}}</span>
      </div>
  </nav>
</header>

<dev-user-info></dev-user-info>
