
<div class="container shadow mt-5 mb-5">
  <div class="row">
    <div class="col-md-6 mb-2 mt-5 mb-5">
      <img class="img-fluid d-none d-sm-block"
           src="/assets/img/training.jpg">
    </div>
    <div class="col-md-6 mt-5">
      <h5 class="text-center display-4">Sm@rt Contábil</h5>
      <form [formGroup]="loginForm" (submit)="login()" class="form mt-4">

          <div class="form-group">
              <input
                  formControlName="userName"
                  class="form-control"
                  placeholder="Nome de Usuário"
                  autofocus>
          </div>

          <div class="form-group">
              <input
                  formControlName="password"
                  type="password"
                  class="form-control"
                  placeholder="Senha">
          </div>

          <button
              [disabled]="loginForm.invalid"
              type="submit"
              class="btn btn-primary btn-block">
              login
          </button>

      </form>
      <p>Não é usuário?<a> Solicite seu agora acesso!</a></p>

      <div *ngIf="loginFail" class="alert alert-danger" role="alert">
        Usuário ou senha incorretos.
      </div>

    </div>
  </div>

</div>

