<div class="container-fluid col-10">

  <div class="jumbotron shadow">
    <h1 class="display-4">{{userInfo?.name}}!</h1>
    <p class="lead">Bem vindo ao Sm@rt Contábil, aqui você vai gerenciar de forma simples suas solicitações.<br/>
    Você está logado pela empresa <b>{{userInfo?.name}}</b></p>


      <hr class="my-4">
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Tudo Certo!</h4>
        <p>Todos os serviços do SmartContábil estão funcionando corretamente. Alertas de instabilidade de serviços aparecerão nessa página.</p>
        <hr>
        <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
      </div>
      <p class="lead"><fa-icon class="text-muted" [icon]="faFire"></fa-icon>&nbsp; Status de Processamento.</p>
      <ul *ngFor="let d of cndStatus" class="list-group list-group-flush">
        <li class="list-group-item list-group-item-danger"><span class="badge badge-secondary align-middle shadow">#{{d.total}}</span>&nbsp; - {{d.status}}</li>
      </ul>

      <div class="card p1">

        <div class="card-body">
          <h5 class="card-title">Processamento CNDs</h5>
          <table class="table table-hover border p1">
            <thead>
              <tr>

                <th scope="col">Status</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cnd of cndStatus; index as i">

                <td>{{ cnd.status }}</td>
                <td>{{ cnd.total | number }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>

</div>




