<div class="container-fluid col-10">

  <div class="jumbotron shadow">
    <h1 class="display-4">{{userInfo?.name}}!</h1>
    <p class="lead">Bem vindo ao Sm@rt Contábil, aqui você vai gerenciar de forma simples suas solicitações.<br/>
    Você está logado pela empresa <b>{{userInfo?.name}}</b></p>


      <hr class="my-4">
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Tudo Certo!</h4>
        <p>Todos os serviços do SmartContábil estão funcionando corretamente. Alertas de instabilidade de serviços aparecerão nessa página.</p>
        <hr>
        <!-- <p class="mb-0">...</p> -->
      </div>
      <p class="lead"><fa-icon class="text-muted" [icon]="faFire"></fa-icon>&nbsp; Status de Processamento da competência atual.</p>

      <div class="row">
        <div class="card bg-light mb-3 ml-3 shadow" style="max-width: 18rem;">
          <div class="card-header font-weight-bold">
            <fa-icon [icon]="faListAlt" class="mr-2"></fa-icon><spam [routerLink]="['certidoes']" >Certidões Diversas</spam>
          </div>
          <div class="card-body">
            <div class="list-group">
              <a *ngFor="let d of cndStatus" class="list-group-item list-group-item-action" [ngClass]="d.cstat !='100' ? 'text-danger' : 'text-success'">
                <fa-icon *ngIf="d.cstat == '100'" [icon]="faCheckCircle" class="mr-2"></fa-icon>
                <fa-icon *ngIf="d.cstat != '100'" [icon]="faExclamationCircle" class="mr-2"></fa-icon>
                {{d.descricao}} - {{d.total}}
              </a>
            </div>           
          </div>
        </div>
        <div class="card bg-light mb-3 ml-3 shadow" style="max-width: 17rem;">
          <div class="card-header font-weight-bold">
            <fa-icon [icon]="faListAlt" class="mr-2"></fa-icon><spam [routerLink]="['ginfes']" >GINFES Diário</spam>
          </div>
          <div class="card-body">
            <div class="list-group">
              <a *ngFor="let g of ginfesStatus" class="list-group-item list-group-item-action" [ngClass]="g.cstat !='100' ? 'text-danger' : 'text-success'">
                <fa-icon *ngIf="g.cstat == '100'" [icon]="faCheckCircle" class="mr-2"></fa-icon>
                <fa-icon *ngIf="g.cstat != '100'" [icon]="faExclamationCircle" class="mr-2"></fa-icon>
                {{g.descricao}} - {{g.total}}
              </a>

            </div>
          
          </div>
        </div>
        <!-- <div class="card bg-light mb-3 ml-3" style="max-width: 18rem;">
          <div class="card-header">GINFES Diário</div>
          <div class="card-body">
            <h5 class="card-title">Light card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div> -->

      </div>
      <hr>

  </div>

</div>




